{% extends "base.html" %}

{% block content %}
  <div class="container body-container col-xs-9 col-lg-9" id="content" role="main">
    <h1>{{ title }} <span class="badge badge-success">{{ rights }}</span></h1>
    <p>Part of: <a href="#">[collection]</a><br/></p>
    <div class="row">
      <!-- Main Content -->
      <div class="col-xs-12 col-md-9 centermain"> <!-- Center Content -->
        <div>
          <iframe src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=057e01c6-dd4e-4a78-b250-aed00146b14f&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="100" width="720" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
        </div>
        <p></p>
        <dl>
          {% for m in metadata %}
            <dt>{{ m[0] }}</dt>
            <dd>
              {% for v in m[1] %}
                {{ v }} {% if not loop.last %}<br>{% endif %}
              {% endfor %}
            </dd>
          {% endfor %}
        </dl>

        <p>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></p>
        <p>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></p>
        <p>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></p>
        <p>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/></p>
      </div> <!-- // Center Content -->
    </div> <!-- // .row -->
  </div> <!-- // .col-xs-12 .col-md-9 .centermain -->
{% endblock %}
